@font-face {
    font-family: morpheus;
    src: url("./fonts/morpheus.TTF");
}

@font-face {
    font-family: friz-quadrata;
    src: url("./fonts/friz-quadrata.woff");
}

@font-face {
    font-family: digital;
    src: url("./fonts/digital-clock.ttf");
}

.team-details {
    font-size: 32px;
    font-family: friz-quadrata;
    margin-bottom: 2em;
}

.total-shitlords-logo {
    margin-bottom: 4em;
}

.total-shitlords-logo img {
    max-width: 50%;
    margin: 0 auto;
}

.player-card {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: 2em;
}

.player-card--details {
    flex-grow: 1;
    font-family: morpheus;
}

.player-card--name {
    font-size: 24px;
}

.player-card--spec {
    font-size: 16px;
}

.player-card--details-inner {
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 1em;
    border-radius: 6px;
    color: white;
    /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */
    font-weight: 600;
    text-align: center;
}

.player-card--covenant {
    position: absolute;
    top: 5px;
    left: 2px;
}

.monk-color {
    background-color: #00FF96;
}

.monk-text-color {
    color: #00FF96;
}

.shaman-color {
    background-color: #0070DE;
}

.shaman-text-color {
    color: #0070DE;
}

.druid-color {
    background-color: #FF7D0A;
}

.druid-text-color {
    color: #FF7D0A;
}

.hunter-color {
    background-color: #ABD473;
}

.hunter-text-color {
    color: #ABD473;
}

.mage-color {
    background-color: #69CCF0;
}

.mage-text-color {
    color: #69CCF0;
}

.ksm-runs-title {
    font-size: 28px;
    font-family: morpheus;
    margin-top: 3em;
    margin-bottom: 1em;
}

.dungeon-card {
    border: 1px solid gray;
    border-radius: 8px;
}

.dungeon-card:not(:last-child) {
    margin-right: 3em;
}

.dungeon-card--header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
}

.dungeon-card--details, .dungeon-card--affixes {
    display: flex;
    font-family: friz-quadrata;
}

.dungeon-card--details {
    flex-direction: column;
}

.dungeon-card--affixes {
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.dungeon-card--timer-details {
    width: 100%;
    border-top: 1px solid gray;
    overflow: hidden;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.dungeon-card--timer-details .column:first-child {
    border-right: 1px solid gray;
    
}

@media only screen and (max-width: 768px) {
    .dungeon-card--timer-details .column:first-child {
        border-bottom: 1px solid gray;
    }
}

.dungeon-card--time, .dungeon-card--under-time {
    font-size: 32px;
}

.dungeon-card--time-title, .dungeon-card--under-time-title {
    font-size: 14px;
}

.digital-clock {
    font-family: digital;
}

.dungeon-card--affix {
    width: 45px;
    height: 45px;
}

.dungeon-card--affix:not(:last-child) {
    margin-right: 0.75em;
}

.dungeon-card--affix img {
    border-radius: 4px;
}

.dungeon-card--header-title {
    font-size: 18px;
    font-family: friz-quadrata;
}

.dungeon-card--header figure {
    margin-right: 1em;
}

.player-card--links {
    display: flex;
    justify-content: center;
}

.player-card--links a:not(:last-child) {
    margin-right: 1em;
}

.s1-team-mount-image {
    margin-top: 3em;
}

.s1-team-mount-image img {
    border-radius: 8px;
}

footer {
    margin-top: 5em;
}

.copyright-text {
    font-size: 12px;
}

.troll-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.troll-text img {
    margin-left: 0.5em;
}